/* Copia de los estilos*/

*{
    margin: 0;
    padding: 0;
}

body{
    
    /* background-color: rgba(11, 51, 86, .99); */
    background-color: rgba(26, 127, 251, 0.593);
}


/*Si modifico este heigth debo modificar como se ve la barra el pantalla de celular*/
nav{
    position: fixed;
    z-index: 10;
    left:0;
    right: 0;
    top: 0;
    padding: 0 20px;
    height: 10vh;/*Esta es una de las tres alturas que suma 100vh en total*/
    /*background-color: rgb(11, 51, 86);*/

background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 37%, #207cca 57%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 37%,#207cca 57%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 37%,#207cca 57%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

nav .logo{
    float: left;
    width: 4vw;/*Esto logra que no se deforme el logo*/
    height: 8vh;
    line-height: 30px;
    display: flex;
    margin-top: 3px;
    border-radius: 50%;
    }

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    /*Con este ancho arreglo el problema de la superposición en sobre mi*/
    width: 80vw;
    height: 10vh;
    /*Esta parte me sirve para ubicar los li*/
    display: flex;
    justify-content:stretch;
    justify-content: flex-end;
    align-items: center;
}

nav .links li{
    list-style: none;
    justify-content: center;

}

nav .links a{
    display: block;
    padding: 1em;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    /*Para que aparezca la manito
    cursor: pointer; 
    en este caso no es necesario porque el fontaw me lo pone en todos*/
    user-select: none;/*esto imposibilita que se pueda seleccionar los enlaces como para copiarlos*/
    /*esta es igual al hover, pero ahora lo hace para "volver"*/
    transition: all .5s;
}

/*ESTO TENDRIA QUE HACERLO EN CADA PAGE*/
/*Si quisiera eliminar la selección de uno
por ejemplo la opción de hacer clik en la pag que estoy
podría deshabilitarlo con:
opacity: 0.5;
pointer-events: none;
*/
#bloqueoInicio{
    opacity: 0.5;
    pointer-events: none;
}
#bloqueoContacto{
    opacity: 0.5;
    pointer-events: none;
}

#bloqueoPortafolio{
    opacity: 0.5;
    pointer-events: none;
}

#bloqueoHerramientas{
    opacity: 0.5;
    pointer-events: none;
}

#bloqueoSobreMi{
    opacity: 0.5;
    pointer-events: none;
}
nav .links a:hover{
    color: #566a78;
    font-size: 1.1rem;
    transition: all .5s;
}

/*Esto es el icono de despliegue en celular*/
#nav-toggle{
    position: absolute;
    top: -100px;
}

nav .icon{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

}

nav .icon .line{
    width: 30px;
    height: 5px;
    background-color: #0d4672;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    /*Esto le pone una sombra que si no la saco se mueve
    con las lineas al formar la X*/
    box-shadow: 10px 10px #566a78;
}


@media screen and (max-width: 780px) {
    nav .logo{
        float: none;
        width: auto;/*Misma solución que pantalla completa, queda fijo pero me gusta más que los movimientos que hace con % o px*/
        justify-content: start;
    }

    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(0,0,0,.7);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .links a{
            font-size: 1.5rem;
    }

    nav .links a:hover{
        color: #566a78;
        font-size: 1.8rem;
        transition: all .5s;
    }

    nav .icon{
        display: block;
    }

    nav :checked ~ .links{
        bottom: 0;
    }

    /*esto es lo que mueve las barras y forma una cruz*/
    /*Si agrego la línea 2 se hace como una estrella*/
    nav :checked ~ .icon .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked ~ .icon .line:nth-child(2){
        opacity: 0;
    }

    /*Esto saca la sombra de las lineas del sector
    nav .icon .line*/
    nav :checked ~ .icon .line{
        box-shadow: none;
    }
}



/*::::::Hasta acá creo está terminada la barra de navegación:::::*/






/*........PIE DE PAGINA (FOOTER)..........*/

footer{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 37%, #207cca 57%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 37%,#207cca 57%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 37%,#207cca 57%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    
}

.pie-pagina{
    width: 100% ;
    background-color: rgb(11, 51, 86);
    height: 10vh;
    display: grid;
    position: fixed;
    
}

.pie-pagina .grupo1{
width: 100vw;
height: 6vh;
margin: auto;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 15px;
/*Estas cosas las pongo para poder usarlas luego*/
padding: 0px 0px;

}

.pie-pagina .grupo1 .box h2{
    color: rgb(238, 226, 226);
    /*Tendría que ser igual al NAV??*/
    font-size: 1rem;
    text-align: center;
}

.pie-pagina .grupo1 .box p{
    color: rgb(175, 215, 215);
    text-align: center;
}

.pie-pagina .grupo1 .box .redsocial{
    /* background-color: #970707; */
    line-height: 28px;
    margin-top: 8px;/*Esto lo use para centrar los i*/
    display: flex;
    /*Ojo si quiero agregar algo que puse columna reversa aca*/
    flex-direction: row-reverse;
    margin-right: 45px;

}
.pie-pagina .grupo1 .box .redsocial a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 28px;
    line-height: auto;
    color: white;
    margin-right: 10px;
    background-color: rgb(102, 129, 152, .4);/*lo pongo con opacidad porque sino me tapa el icono*/
    text-align: center;
    border-radius: 15px;
    transition: all .3s ease;
    
}

/*
Esto es el fondo chico tras el i
.pie-pagina .grupo1 .box .redsocial a i{
/* background-color: #970707; 
}
*/


.pie-pagina .grupo1 .box .redsocial a:hover{
    color: rgb(3, 46, 46);
}

.pie-pagina .grupo1 .box .redsocial h2{
    margin-right: 15px;
}


/*::::::::::Prueba responsive::::*/



@media screen and (max-width: 700px){
    .pie-pagina{
        display: grid;
        height: 10vh;
    }
    .pie-pagina .grupo1{
        display: flex;       
        line-height: 10vh;
        text-align: center;
        width: 50vw;
        justify-content: center;
        }   
    
    
    .pie-pagina .grupo1 .box .redsocial a{
            display: inline-block;
            /*Esta medida no la toco porque es de los íconos*/
            width: 30px;
            height: 27px;
            line-height: auto;
            color: white;
            margin-right: 5 px;
            text-align: center;
            border-radius: 15px;
            transition: all .5s ease;
            
        }



        .pie-pagina .grupo2{
            display: flex;
            width: 50vw;
            justify-content: center;
            width: 100vw;
            
        }

        /*Estoy ocultando esta caja para que queden las redes*/
    .ocultar{
        visibility: hidden;
    }
    
}


/*::::::::Creo que responsive NAV y FOOTER está 28/04/23 ::::::::::*/


/*------SECTION----------*/

.container {
    display: flex;
    box-sizing: border-box;
    height: auto;
    
}

section {
    margin-top: 70px;
    height: 80vh;
}


.contenedorImgTxt {
    display: grid;
    grid-template-columns: 30% 70%;
}
.mensaje{
    display: flex;
}
.mensaje img{
    border-radius: 50px;
    width: 100%;
    height: 40vh;
}
section .contenedorImgTxt p, h1, h3{
    color: white;
}
section p{
    text-align: center;
    padding: 45px 70px;
    margin: 5px 15px;
    display: flex;
    justify-content: flex-end;
    height:min-content;
    clear: both;
}
section h1{
    font-size: 3.5rem;
    text-align: center;
}
section h3{
    font-size: 1.5rem;
    text-align: center;
}
.container section p{
    padding: 10px 0px;
}


/*::::::Prueba responsive::::::::*/
/* He decidido separar todo por px */

@media screen and (max-width: 760px) {

    .container section p{
        flex-direction: column;
    }

    .contenedorImgTxt {
        display: grid;
        grid-template-columns: auto;
    }

    .mensaje{
        display: flex;
        width: 100vw;
    }

    .mensaje img{  
        margin-top: -0vh;
        width: auto;
        height: 30vh;
        border-radius: 50px; 
        margin-left:auto; 
        margin-right: auto;
    }

    .inicioTextos{
        height: auto;
        margin-right: 3vh;
    }
    .descript{
        /*le doy esta altura porque sino el párrafo se ve mal*/
        margin-bottom: 10vh;
    }
}


@media screen and  (min-width: 761px) and (max-width: 1000px){ 

    .container section p{
        flex-direction: column;
    }
    
    .contenedorImgTxt {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .mensaje{
        display: flex;
        width: 40vw;
    }

    .mensaje img{  
        margin-top: 10vh;
        width:auto;
        height: 40vh;
        border-radius: 50px; 
        margin-left:5vw; 
        margin-right: 5vw;
    }

    .inicioTextos{
        margin-top: 10vh;
        margin-right: 5vw;
        margin-left: 5vw;
        font-size: 1.2rem;
    }
}

@media screen and  (min-width: 1001px){ 

    .container section p{
        flex-direction: column;
    }
        
    .mensaje img{  
        margin-top: 10vh;
        width:auto;
        margin-left:5vw; 
        margin-right: 5vw;
    }

    .inicioTextos{
        margin-top: 10vh;
        margin-right: 5vw;
        margin-left: 5vw;
        font-size: 1.2rem;
    }

    .inicioTextos h1{
        font-size: 4.5rem;
    }

    .inicioTextos h3{
        font-size: 2rem;
    }

    .inicioTextos p{
        font-size: 1.2rem;
        line-height: 25px;
    }
}

/*::::::::Creo que responsive SECTION está 30/04/23 ::::::::::*/



/*-----------Estilos para página Herramientas -------------*/

.Herr{
    background-color: #fff;
}

.contenedorH {
    width: 100vw;
    margin: 0 auto;
    height: 50vh;/*si cambio esto tengo que cambiar los line-height*/

}

#herramientas {
    background-color: #fff;
}
.bloque{
    background-color: #fff;
    
}
.bloque h1 {
    margin: 0 3vw;
    color: #e7eaed;
    /*Esta es la altura fundamental para la imagen*/
    line-height: 50vh;
    text-align: center;
    font-size: 3em;
    text-shadow: 3px 3px red;
}


.bloque h2 {
    margin-bottom: 2vh;
    font-size: 2em;
    text-align: center;
    background-color: #e7eaed;
}

/*creo que para ppoder separa del bottom
debería dar otra clase al último parrafo
para que quede separado de la imagen*/

.bloque p {
    margin: 3vh 2vh;
    font-size: 1.3em;
    background-color: #fff;
}

.bloque.imagen1 {

    background-image: url(../IMG/fondoWeb.jpeg);
    background-size: cover; /*esto hace que cubra todo sin repetir*/
    background-position: 50% 50%; /*Esto centra la imágen*/
    /*Esto es lo que deja fija la imágen y hace el efecto visual*/
    background-attachment: fixed;
}

.bloque.imagen2 {
    background-image: url(../IMG/SOLAR1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.bloque.imagen3 {
    background-image: url(../IMG/SOLAR2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}



